---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import HeroSection from "../components/HeroSection.astro";
import Servicios from "../components/Servicios.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title="Trasnportes Jirena">
  <Navigation />
  <main>
    <HeroSection />
    <Servicios />
  </main>
  <Contacto />
</Layout>
